<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mt-5">
            <h5 class="heading">CODEPOD SERVICES</h5>
        </div>
        <div class="col-md-12 d-flex justify-content-center mt-3 flex-wrap">
            <h5 class="heading-two">We build modern creative mobile experiences.</h5>
        </div>
<div class="d-flex justify-content-evenly mt-5 col-md-12 flex-wrap">
        <!-- <div class="card mt-5">
            <div class="card-body">
                <div class="card-inside">
                    <img class="card-img-top" src="../../assets/Group 20 (1).svg" alt="Card image cap">
                </div>
                <h5 class="card-title">Android Development</h5>
                <p class="card-text">Our software house has been recognised by google for outstanding android
                    application quality..</p>
                <a href="#" class="btn">Read More ></a>
            </div>
        </div>

        <div class="card mt-5">
            <div class="card-body">
                <div class="card-inside">
                    <img class="card-img-top-two" src="../../assets/Group 23 (1).svg" alt="Card image cap">
                </div>
                <h5 class="card-title">Android Development</h5>
                <p class="card-text">Our software house has been recognised by google for outstanding android
                    application quality..</p>
                <a href="#" class="btn">Read More ></a>
            </div>
        </div> -->
        
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-inside">
                    <img class="card-img-top-three" src="../../assets/Group 21 (1).svg" alt="Card image cap">
                </div>
                <h5 class="card-title">Android Development</h5>
                <p class="card-text">Our software house has been recognised by google for outstanding android
                    application quality..</p>
                <a href="#" class="btn">Read More <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-inside">
                    <img class="card-img-top-three" src="../../assets/Group 21 (1).svg" alt="Card image cap">
                </div>
                <h5 class="card-title">Android Development</h5>
                <p class="card-text">Our software house has been recognised by google for outstanding android
                    application quality..</p>
                <a href="#" class="btn">Read More ></a>
                <!-- <i class="fas fa-chevron-right"></i> -->
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-inside">
                    <img class="card-img-top-three" src="../../assets/Group 21 (1).svg" alt="Card image cap">
                </div>
                <h5 class="card-title">Android Development</h5>
                <p class="card-text">Our software house has been recognised by google for outstanding android
                    application quality..</p>
                <a href="#" class="btn">Read More ></a>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-inside">
                    <img class="card-img-top-three" src="../../assets/Group 21 (1).svg" alt="Card image cap">
                </div>
                <h5 class="card-title">Android Development</h5>
                <p class="card-text">Our software house has been recognised by google for outstanding android
                    application quality..</p>
                <a href="#" class="btn">Read More ></a>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-inside">
                    <img class="card-img-top-three" src="../../assets/Group 21 (1).svg" alt="Card image cap">
                </div>
                <h5 class="card-title">Android Development</h5>
                <p class="card-text">Our software house has been recognised by google for outstanding android
                    application quality..</p>
                <a href="#" class="btn">Read More ></a>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-inside">
                    <img class="card-img-top-three" src="../../assets/Group 21 (1).svg" alt="Card image cap">
                </div>
                <h5 class="card-title">Android Development</h5>
                <p class="card-text">Our software house has been recognised by google for outstanding android
                    application quality..</p>
                <a href="#" class="btn">Read More ></a>
            </div>
        </div>

    </div>
<!-- 
    <div class="d-flex justify-content-evenly mt-5 col-md-12 flex-wrap">
        <div class="card">
            <div class="card-body">
                <div class="card-inside">
                    <img class="card-img-top-three" src="../../assets/Group 18 (1).svg" alt="Card image cap">
                </div>
                <h5 class="card-title">Android Development</h5>
                <p class="card-text">Our software house has been recognised by google for outstanding android
                    application quality..</p>
                <a href="#" class="btn">Read More ></a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="card-inside">
                    <img class="card-img-top-four" src="../../assets/Group 24 (1).svg" alt="Card image cap">
                </div>
                <h5 class="card-title">Android Development</h5>
                <p class="card-text">Our software house has been recognised by google for outstanding android
                    application quality..</p>
                <a href="#" class="btn">Read More ></a>
            </div>
        </div>
        
        <div class="card">
            <div class="card-body">
                <div class="card-inside">
                    <img class="card-img-top-five" src="../../assets/Group 19 (1).svg" alt="Card image cap">
                </div>
                <h5 class="card-title">Android Development</h5>
                <p class="card-text">Our software house has been recognised by google for outstanding android
                    application quality..</p>
                <a href="#" class="btn">Read More ></a>
            </div>
        </div>
    </div> -->
    </div>
</div>