@import '../../../../variables.scss';
.card{
    // height: 300px;
    max-height: 370px;
    max-width: 30rem;
    width: 30rem;
    background: rgba(247,247,247,1);
    border-radius: 2.25rem;
    box-shadow: 0px 0px 19px rgb(0 0 0 / 15%);
}
.card-title{
    margin-top: 5rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    font-family: $font-family;
}
.card-inside{
    position: absolute;
    top: -2rem;
    // left: 50px;
    // border: 1px solid black;
    background:$text-color-white;
    height: 75px;
    width: 75px;
    border-radius: 15px;
    box-shadow: 0px 0px 19px rgb(0 0 0 / 15%);
    
}
// .card-img-top{
//     width: 50px;
//     position: absolute;
//     bottom: 23px;
//     left: 12px;
  
// }
// .card-img-top-two{
//     width: 50px;
//     position: absolute;
//     bottom: 8px;
//     left: 12px;

// }
.card-img-top-three{
    // width: 50px;
    position: absolute;
    bottom: 14px;
    left: 13px;
}
// .card-img-top-four{
//     width: 50px;
//     position: absolute;
//     bottom: 16px;
//     left: 12px;
// }
// .card-img-top-five{
//     width: 50px;
//     position: absolute;
//     bottom: 10px;
//     left: 15px;
// }
.card-text{
    font-family: $font-family;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color:$text-color-black;
}
.heading{
    color: $button-color;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
.btn{
    background: #F7F7F7;
  
    border-radius: 28px;
    color:$text-color-black;
    font-family: $font-family;
    font-size: 15px;
}
@media screen and (max-width: 830px) {
    .card {
        margin-top: 3rem;
    }
}