<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h5>Technologies we work with</h5>
        </div>
        <div class="col-md-12 d-flex justify-content-center flex-wrap">
            <!-- <div class="card-icon-div d-flex justify-content-center">
                <img src="../../assets/angular.png" alt="">
            </div>
            <div class="card-icon-div">
                <img src="../../assets/angular.png" alt="">
            </div>
            <div class="card-icon-div">
                <img src="../../assets/angular.png" alt="">
            </div>
            <div class="card-icon-div">
                <img src="../../assets/angular.png" alt="">
            </div>
            <div class="card-icon-div">
                <img src="../../assets/angular.png" alt="">
            </div>
            <div class="card-icon-div">
                <img src="../../assets/angular.png" alt="">
            </div> -->
            <div class="card d-flex justify-content-center align-items-center m-5" style="width: 13rem; height: 10rem;">
                <img class="card-img-top mt-3" src="../../assets/angular.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Angular</p>
                </div>
              </div>
              <div class="card d-flex justify-content-center align-items-center m-5" style="width: 13rem; height: 10rem;">
                <img class="card-img-top mt-3" src="../../assets/airflow.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Airflow</p>
                </div>
              </div>
              <div class="card d-flex justify-content-center align-items-center m-5" style="width: 13rem; height: 10rem;">
                <img class="card-img-top mt-3" src="../../assets/scala.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Scala</p>
                </div>
              </div>
              <div class="card d-flex justify-content-center align-items-center m-5" style="width: 13rem; height: 10rem;">
                <img class="card-img-top mt-3" src="../../assets/graphqi.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">GraphQl</p>
                </div>
              </div>
              <div class="card d-flex justify-content-center align-items-center m-5" style="width: 13rem; height: 10rem;">
                <img class="card-img-top mt-3" src="../../assets/python.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Python</p>
                </div>
              </div>
              <div class="card d-flex justify-content-center align-items-center m-5" style="width: 13rem; height: 10rem;">
                <img class="card-img-top mt-3" src="../../assets/react.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">React</p>
                </div>
              </div>
              <div class="card d-flex justify-content-center align-items-center m-5" style="width: 13rem; height: 10rem;">
                <img class="card-img-top mt-3" src="../../assets/spark.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Spark</p>
                </div>
              </div>
              <div class="card d-flex justify-content-center align-items-center m-5" style="width: 13rem; height: 10rem;">
                <img class="card-img-top mt-3" src="../../assets/docker.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Docker</p>
                </div>
              </div>
              <div class="card d-flex justify-content-center align-items-center m-5" style="width: 13rem; height: 10rem;">
                <img class="card-img-top mt-3" src="../../assets/node.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Node</p>
                </div>
              </div>
        </div>
    </div>
</div>
