@import '../../../../variables.scss';
h5{
    color:$text-color-black;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.card{
    background: #F7F7F7;
    border-radius: 18px
}
 .card-img-top{
     max-width: 3rem;
     max-height: 3rem;
 }
 .card-text{
    font-family:$font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #5E5A5A;
 }