 <!-- <div class="container-fluid pt-5">
      <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
              <h6 class="heading-six">Quality Work</h6>
          </div>
          <div class="col-md-12 d-flex justify-content-center">
              <h6 class="heading-six-two">Some of our Finest Work</h6>
          </div>
          <div class="col-md-12 d-flex my-5 cards-div flex-nowrap overflow-scroll">
            
            <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div>
            <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div>
            <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div>
            <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div>
            <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div>
            <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div>
            <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div> 
            <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div>
             <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div>   -->
            <!-- <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div> -->
            <!-- <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div> -->
            <!-- <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div>  -->
            <!-- <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div>
            <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div>
            <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div>
            <div class="card m-3">
              <img src="../../assets/carousel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">UX, UI, Graphic Design</p>
                <h5 class="card-title">Creative business card design service</h5> 
               </div>
            </div> -->
          <!-- </div>
          <div class="col-md-12 d-flex justify-content-center flex-wrap mb-5">
            
          <h6 class="heading-six-three">Take a look of our quality work</h6>
        
        
          <button type="button" class="btn btn-warning ml-3">Our Brouhure ></button>
        
          </div>     
         </div>
  </div>  -->





  

  <div class="container-fluid pt-5">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h6 class="heading-six">Quality Work</h6>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <h6 class="heading-six-two">Some of our Finest Work</h6>
  </div> 
  <!-- <section class="container-fluid organizations"> -->
   <div class="col-md-12">
      <carousel class="carousel-container"
        [loop]="true"
        [autoplay]="true"
        [loop]="true"
        [autoplayInterval]="2000"
      >
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div>
         <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div>
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div>
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div>
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div>
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div>
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div>
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div>
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div>
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div>
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div>
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div> 
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div> 
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div> 
        <div class="carousel-cell m-3">
          <div class="card m-3">
            <img src="../../assets/carousel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">UX, UI, Graphic Design</p>
              <h5 class="card-title">Creative business card design service</h5> 
             </div>
          </div>
        </div> 
      </carousel>
      <div class="col-md-12 d-flex justify-content-center flex-wrap my-4 button-div">
            
        <h6 class="heading-six-three">Take a look of our quality work</h6>
      
      
        <button type="button" class="btn btn-warning ml-3">Our Brouhure ></button>
      
        </div>    
    </div> 
  <!-- </section> -->
  
</div>
  </div> 