@import '../../../../variables.scss';
.container-fluid{
    background: #452650;
    margin-top: 8rem;
    // height: 45rem;
}
.heading-six{
    color: #FF7F40;
    font-family:$font-family;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.heading-six-two{
    color:$text-color-white;
    font-family:$font-family;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}
.card-text{
    font-family:$font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5E5E67;
}
.card-title{
    font-family:$font-family;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
.card{
    border-radius: 10px;
    max-width: 25rem;
}
.heading-six-three{
    font-family:$font-family;
    color:$text-color-white;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
.btn-warning{
    background: #FF5B2E;
    border-radius: 40px;
    font-family:$font-family;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color:$text-color-white;
    padding: 5px 25px;
}
.carousel-cell{
    width: 14rem !important;
}
// .cards-div{
//     overflow-x: scroll;
// }
::ng-deep .carousel-container{
        height: 25rem !important;
       
    }

// .button-div{
//     margin-top: 15rem;
// }