@import '../../../../variables.scss';
.container-fluid{
     background: transparent;
    font-family: $font-family;
    // padding: 20px;
    
}
// .logo-text{
//     margin-left: 2%;
//     color: $text-color-orange;
//     margin-top: 6px;
// }
.menu-item{
    color: $text-color-black;
    text-decoration: none;
    font-weight: 600;
}
.header-button{
    background: transparent;
    border-radius: 25px;
    color:  $text-color-orange;
    border: 1px solid;
    padding: 6px 20px;
    font-weight: 600;
}
.list-icon{
    visibility: hidden;
}
@media screen and (max-width: 872px) {
    .header-button {
        
       padding: 5px;
    }
    
}
@media screen and (max-width:768px){
    .header-button{
        display: none;
    }
    .list-icon{
        visibility: visible;
    }
    .menu-item{
        display: none;
    }
    .icon-button{
        position: absolute;
        top: 1.5rem;
    }
}