<div class="container-fluid p-3">
    <div class="row">
        <div class="col-md-3 d-flex align-items-center">
            <img class="img-fluid" src="../../assets/logo.svg" alt="">
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-evenly">

            <a class="menu-item" href="#">ABOUT US</a>
            <a class="menu-item" href="#">BLOG</a>
            <a class="menu-item" href="#">CATEGORY</a>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-end icon-button">
            <button class="header-button">Request Quote</button>
            <img class="list-icon" src="../../assets/list-one.svg" alt="">
        </div>
    </div>
</div>