<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-7 pl-5">
           <!-- <div class="background-div"></div> -->
            <h3>Top Web <br> Development <br>Company in India</h3>
            <div class="paragraph-div">
       <p>Codepod solve the world's biggest problems with Expertise. Reevan helps
        global brand with digital products on web, mobile and connected
        platforms.</p></div>
        <div class="d-flex align-items-center justify-content-evenly content-flex flex-wrap">
            <div>
           <button class="content-button">Talk to our Expert >
            <!-- <i class="fas fa-chevron-right"></i> -->
               <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg> -->
            </button>
        </div>
        <div class="d-flex content-text-div align-items-center">
            <div class="content-image">
                <img src="../../assets/Ellipse 15.png" alt="">
            </div>
            
            <div>
                <h5>Kamlesh Happy</h5>
                <p>Business head</p>
            </div>
        </div>
        </div>
        </div>
        <div class="col-md-5 content-right-image">
            <img class="img-fluid" src="../../assets/content-image-one.svg" alt="">
        </div>
    </div>
   
    
</div>
<div class="container-fluid fluid-container">
    <!-- <div class="content-body"> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                   <h6 class="heading-six-one">WE ARE Codepod</h6>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                   <p class="content-paragraph">#1 Web Development Company, Awarded for its Top Features/Editor Websites Delivered.</p>
                 </div>
                 <div class="col-md-12 d-flex justify-content-center">
                   <p>Codepod started its operation in the year 1999. We are Worldwide,
                      based Web, App and Digital Marketing Company. Our main Domain is Web Design,
                      App Development, Digital Marketing, Product Design and Cloud Services. 
                      Customer Satisfaction and the Highest rate of Customer Repeatability make us one of the pioneers in the field.
                      So, what are you waiting for? Let us discuss your ideas and our innovation in detail because catering your requirement and converting it into a final product is our main goal.
                   </p>
               </div>
            </div>
        </div>
        <div class="row">
        <div class="image-group">
           <img class="img-fluid group-image" src="../../assets/Rectangle 33.png" alt="">
       </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
        <button class="content-button-two  my-5">Know more Codepod ></button>
        <!-- <i class="fas fa-chevron-right"></i> -->
    </div>
       <!-- </div> -->
</div>




