@import "../../../../variables.scss";
.background-div {
    background: #fbf1ef;
}
.container-fluid {
    // margin-top: 5rem;
    //  padding: 0px;
}
h3 {
    font-family: $font-family;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    background-image: url("../../assets/Ellipse\ 1.png");
    background-repeat: no-repeat;
}
.paragraph-div {
    max-width: 656px;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
// .content-div {
//     padding-left: 3%;
// }
.content-flex {
    max-width: 500px;
}
@media screen and (max-width: 430px) {
    h3 {
        font-size: 35px;
        line-height: 40px;
        font-family: $font-family;
    }
    .content-button {
        font-size: 12px;
    }
    // .content-image {
    //     margin-right: 10px;
    // }
    h5 {
        margin: 0px;
    }
    .content-text-div {
        padding-top: 2rem;
    }
    .container-fluid {
        margin-top: 2rem;
    }
}
.content-button {
    background:$button-color;
    color: #ffffff;
    border-radius: 25px;
    font-family: $font-family;
    padding: 5px;
}
.content-image {
    border-radius: 50px;
    margin-right: 2rem;
}
.content-text-div {
    line-height: 10px;
}
.content-right-image {
    padding-top: 2rem;
}
.fluid-container {
    padding: 0px;
    background: #fbf1ef;
    padding-top: 5rem;
    margin-top: 5rem;
}
// .content-body {
//     background: #fbf1ef;
//     padding-top: 5rem;
//     margin-top: 5rem;
// }
.heading-six-one {
    font-family: $font-family;
    font-size: 18px;
    color:$button-color;
}
.heading-six-two {
    font-family: $font-family;
    font-size: 36px;
    font-weight: 700;
}
.content-paragraph {
    font-family: $font-family;
    font-size: 21px;
    font-weight: 600;
}
.group-image {
    width: 100%;
}
.image-group{
    margin-top: 3rem;
}
.content-button-two{
    background:$text-color-white;
    border-color: $button-color;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    color: $button-color;
    font-family: $font-family;
    // margin-top: 3rem;
}
.heading-two{
    font-family: $font-family;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}
@media screen and (max-width: 430px) {
    .heading-six-two {
        font-size: 24px;
    }
}
