@import '../../../../variables.scss';
.container-one{
    background-color: #FFDBCA;
    height: 500px;
    max-height: 300px;
  
}
h5{
   font-family:$font-family;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
   color: #FF7F40
}
h6{
   font-family:$font-family;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 54px;
}
p{
   font-family:$font-family;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 22px;
}
.card-title{
   font-family:$font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #52525D;
    line-height: 28px;
}
.card-text{
   font-family:$font-family;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 27px;
color: #52525D;
}
.card{
   border-radius: 10px;
}
.card-div{
   position: relative;
   top: -6rem;
}
@media screen and (max-width: 930px) {
   // .card-div {
   //    position: relative;
   //    top: -5rem;
   // }
   .container-one{
      max-height: 350px;
   }
   .card{
      margin-top: 1rem;
   }
   .container-fluid{
      padding: 0px;
   }
}
@media screen and (max-width: 520px) {
   // .card-div {
   //    position: relative;
   //    top: -5rem;
   // }
   .container-one{
      max-height: 400px;
   }
}
@media screen and (max-width: 370px) {
   .container-one{
max-height: 500px;
   }

}