<div class="container-fluid">
    <div class="row">
        <div class="container-one pt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <h5>LATEST FROM BLOG</h5>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <h6>Read Articles, tips and our opnions on everything</h6>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <p>Get updated with the latest trends in technology and know how your business can benefit from these technologies.</p>
        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-around flex-wrap card-div">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/carousel.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                    <p><i class="far fa-calendar-alt mr-2"></i>{{ date | date: 'shortDate' }}</p>
                    <p><i class="far fa-clock mr-2"></i>5 Min Read</p>
                </div>
                    <h5 class="card-title">Best Technolology for Moblie Application Development</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, elit</p>
                 </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../assets/carousel.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p><i class="far fa-calendar-alt mr-2"></i>{{ date | date: 'shortDate' }}</p>
                        <p><i class="far fa-clock mr-2"></i>5 Min Read</p>
                    </div>
                    <h5 class="card-title">Best Technolology for Moblie Application Development</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, elit</p>
                 </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../assets/carousel.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p><i class="far fa-calendar-alt mr-2"></i>{{ date | date: 'shortDate' }}</p>
                        <p><i class="far fa-clock mr-2"></i>5 Min Read</p>
                    </div>
                    <h5 class="card-title">Best Technolology for Moblie Application Development</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, elit</p>
                 </div>
              </div>
            </div>
    </div>
</div>
