<div class="container-fluid pt-5 pb-1 mb-4">
<div class="row d-flex flex-wrap justify-content-evenly">
    <div class="col-sm-3">
        <img src="../../assets/footer.svg" alt="">
        <p class="mt-2">Overall client rating is 4.9 out of <br>
            8,500 Clients for Codepod</p>
            <div class="icon mt-5">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f ms-2"></i>
                <i class="fab fa-youtube ms-2"></i>
                <i class="fab fa-linkedin ms-2"></i>
                <i class="fab fa-instagram ms-2"></i>
            </div>
            <div>
                <button type="button" class="btn btn-warning mt-5">Our Brouhure ></button>
            </div>
    </div>
    <hr class="clearfix d-sm-none">
    <div class="col-sm-3">
        <h4>For Work Inquiry </h4>
        <ul class="list-group">
            <li class="list-group-item pl-0"><i class="fas fa-phone-volume mr-3"></i>+91 123 456 7890</li>
            <li class="list-group-item pl-0"><i class="fas fa-phone-volume mr-3"></i>+91 123 456 7890</li>
            <li class="list-group-item pl-0"><i class="fas fa-envelope mr-3"></i>info@codepod.com</li>
            <li class="list-group-item pl-0"><i class="fas fa-phone-volume mr-3"></i>mail@codepod.com</li>
            <li class="list-group-item pl-0"><i class="fas fa-map-marker-alt mr-3"></i>Address here, 1225/56 your address</li>

        </ul>
    </div>
    <hr class="clearfix d-sm-none">
    <div class="col-sm-2">
        <h4>Company</h4>
        <ul class="list-group">
            <li class="list-group-item pl-0">About Us</li>
            <li class="list-group-item pl-0">Blog</li>
            <li class="list-group-item pl-0">Category</li>
            <li class="list-group-item pl-0">About Us</li>
            <li class="list-group-item pl-0">Blog</li>
            <li class="list-group-item pl-0">Category</li>
        </ul>
    </div>
    <hr class="clearfix d-sm-none">
    <div class="col-sm-2">
        <h4>Services</h4>
        <ul class="list-group">
            <li class="list-group-item pl-0">Hire Dedicated Developer</li>
            <li class="list-group-item pl-0">Web App Development</li>
            <li class="list-group-item pl-0">Moblie app Development</li>
            <li class="list-group-item pl-0">Hire Dedicated Developer</li>
            <li class="list-group-item pl-0">Web App Development</li>
            <li class="list-group-item pl-0">Moblie app Development</li>
        </ul>
    </div>
    <hr class="clearfix d-sm-none">
    <div class="col-sm-2">
        <h4>Industries</h4>
        <ul class="list-group">
            <li class="list-group-item pl-0">Healthcare</li>
            <li class="list-group-item pl-0">Education</li>
            <li class="list-group-item pl-0">Retail</li>
            <li class="list-group-item pl-0">Healthcare</li>
            <li class="list-group-item pl-0">Education</li>
            <li class="list-group-item pl-0">Retail</li>
        </ul>
    </div>
  
</div>
<p class="copyright text-right pb-2 pl-3">copyright 2021 Codepod. All Rights reserved.</p>
</div>