@import "../../../../variables.scss";
.container-fluid {
    background: #30303c;
}
.btn-warning {
    border: 1px solid #ff5b2e;
    border-radius: 84px;
    color: #ffffff;
    background: #ff5b2e;
    font-family: $font-family;
    font-weight: 600;
    font-size: 14px;
}
.list-group {
    li {
        background: transparent;
        border: none;
        color: #adb7c5;
        font-family: $font-family;
        font-size: 14px;
        line-height: 181%;
    }
}
.pl-0 {
    padding-left: 0;
}

.copyright {
    color: #adb7c5;
}
.icon {
    color: #adb7c5;
}
p {
    color: #adb7c5;
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}
h4 {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 181%;

    color: #adb7c5;
}
